// For 1 & 2
$padding-header: var(--padding-header);
$gap-header: 2vw;
$width-logo: clamp(50px, 12vw, 120px);

#articleHeader {
  padding: var(--padding-page);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  align-self: center;
  width: calc(100% - var(--padding-page-sides) * 2);
  background-color: var(--color-background);
}

// Variant 1
#articleHeader.leftsettingsCenterlogoRightmenu {
  display: flex;
  flex-direction: row;
  gap: $gap-header;
  padding: $padding-header;
  max-width: 1440px;
  .headerContainerSettings {
    margin: auto 0;
    width: calc(((100% - ($gap-header * 2)) - $width-logo) / 2);
    .headerSettings {
      width: fit-content;
      margin: auto auto auto 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 5px;
    }
  }
  .headerContainerLogo {
    margin: auto 0;
    #logoHeader {
      cursor: pointer;
      width: $width-logo;
      height: auto;
      padding: 5px 0;
      & > * {
        fill: var(--color-text);
      }
    }
  }
  #headerContainerMenu {
    margin: auto 0;
    width: calc((100% - ($gap-header * 2) - $width-logo) / 2);
  }
}

// Variant 2
#articleHeader.leftlogoRightmenuRightsettings {
  display: flex;
  flex-direction: row;
  gap: $gap-header;
  padding: $padding-header;
  max-width: var(--breakpoint-1440);
  .headerContainerLogo {
    margin: auto 0;
    #logoHeader {
      cursor: pointer;
      width: $width-logo;
      height: auto;
      padding: 5px 0;
      & > * {
        fill: var(--color-text);
      }
    }
  }
  #headerContainerMenu {
    margin: auto 0;
    width: 100%;
  }
  .headerContainerSettings {
    margin: auto 0;
  }
}

// Variant 3
#articleHeader.leftmenuCenterlogoRightsettings {
  display: flex;
  flex-direction: row;
  gap: $gap-header;
  padding: $padding-header;
  max-width: var(--breakpoint-1440);
  #headerContainerMenu {
    margin: auto 0;
    width: calc((100% - ($gap-header * 2) - $width-logo) / 2);
  }
  .headerContainerLogo {
    margin: auto 0;
    #logoHeader {
      cursor: pointer;
      width: $width-logo;
      height: auto;
      padding: 5px 0;
      & > * {
        fill: var(--color-text);
      }
    }
  }
  .headerContainerSettings {
    margin: auto 0;
    width: calc(((100% - ($gap-header * 2)) - $width-logo) / 2);
    .headerSettings {
      width: fit-content;
      margin: auto 0 auto auto;
    }
  }
}

#articleHeader.fixedOnScrollUp {
  position: fixed;
  top: 0;
  z-index: 100000000000000000;
  transition: transform 0.2s ease-in-out;
  &::before {
    backdrop-filter: var(--localBackdropFilter);
    content: "";
    width: 100vw;
    height: 100%;
    background-color: inherit;
    position: absolute;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
  &.hidden {
    transform: translateY(-100%);
  }
  &.visible {
    transform: translateY(0);
  }
}

#articleHeader.fixedAllTime {
  position: fixed;
  top: 0;
  z-index: 100000000000000000;
  &::before {
    backdrop-filter: var(--localBackdropFilter);
    content: "";
    width: 100vw;
    height: 100%;
    background-color: inherit;
    position: absolute;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
